name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: redeshr
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push production image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          redeshr/scp-girhub-runner:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        
